.container {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width:900px) {
    width: 90%;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    max-width: 100%;
    min-height: 100px;
    height: 100%;
  }

  button {
    padding: 10px;
    background-color: #47AA52;
    color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #3a8f44;
    }
  }

  .error {
    color: red;
  }

  .success {
    color: green;
  }
}
